{% extends 'customadmin/change_list.html' %}
{% comment %} {%extends 'customadmin/base.html'%} {% endcomment %}


{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}


{% block page_content %}
    {% csrf_token %}

    {% include "customadmin/author/author_list_header_card.html" with title="Create a new Author" subtitle="You can add a new Data by clicking this button." show_button=True %}

    <div class="ibox float-e-margins">
        <div class="ibox-content">
          
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="Author-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th> Name</th>
                        <th>Email</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>actions</th>
                       
                       
                    </tr>
                    </tfoot>
                 
                </table>
            </div>
        </div>
    </div>

{% endblock %}


 {% block js %}
    {{ block.super }}
    <script src="{% static 'customadmin/js/ajax_processing.js' %}"></script>
 
    <script>
        var pagination_url = "{% url 'customadmin:author-list-ajax' %}";
    </script>

{% endblock %}