{% load static %}
{% load admin_extras %}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

            <li class="nav-header">
                <a href="{% url 'customadmin:index' %}">
                    <img class="nav-image" src="{% static 'customadmin/img/logo.svg' %}" width="100%" />
                </a>
                <div class="logo-element">
                    UC
                </div>
            </li>

<!--            {% if perms.customadmin.add_user or perms.customadmin.view_user or perms.customadmin.change_user or perms.customadmin.delete_user or request.user.is_superuser %}-->
<!--                <li {% if 'users/' in request.path %}class="active" {% endif %}>-->
<!--                    <a href="">-->
<!--                        <i class="fa fa-user fa-fw fa-2x"></i>-->
<!--                        <span class="nav-label">Users</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            {% endif %}-->

            {% if perms.customadmin.add_reviewcategory or perms.customadmin.view_reviewcategory or perms.customadmin.change_reviewcategory or perms.customadmin.delete_reviewcategory or request.user.is_superuser %}
                <li {% if 'review-category/' in request.path %} class="active" {% endif %}>
                    <a href="{% url 'customadmin:reviewcategory-list' %}">
                        <i class="fa fa-list-alt fa-fw fa-2x"></i>
                        <span class="nav-label">Categories</span>
                    </a>
                </li>
            {% endif %}

            {% if perms.customadmin.add_reviewbrand or perms.customadmin.view_reviewbrand or perms.customadmin.change_reviewbrand or perms.customadmin.delete_reviewbrand or request.user.is_superuser %}
                <li {% if 'review-brand/' in request.path %} class="active" {% endif %}>
                    <a href="{% url 'customadmin:reviewbrand-list' %}">
                        <i class="fa fa-bicycle fa-fw fa-2x"></i>
                        <span class="nav-label">Brands</span>
                    </a>
                </li>
            {% endif %}

            {% if perms.customadmin.add_review or perms.customadmin.view_review or perms.customadmin.change_review or perms.customadmin.delete_review or request.user.is_superuser %}
                <li {% if 'review/' in request.path %} class="active" {% endif %}>
                    <a href="{% url 'customadmin:review-list' %}">
                        <i class="fa fa-comments fa-fw fa-2x"></i>
                        <span class="nav-label">Reviews</span>
                    </a>
                </li>
            {% endif %}

            {% if perms.customadmin.add_pages or perms.customadmin.view_pages or perms.customadmin.change_pages or perms.customadmin.delete_pages or request.user.is_superuser %}
            <li {% if 'pages/' in request.path %} class="active" {% endif %}>
                <a href="{% url 'customadmin:pages-list' %}">
                    <i class="fa fa-file fa-fw fa-2x"></i>
                    <span class="nav-label">Pages</span>
                </a>
            </li>
            {% endif %}

            {% if perms.customadmin.add_menus or perms.customadmin.view_menus or perms.customadmin.change_menus or perms.customadmin.delete_menus or request.user.is_superuser %}
            <li {% if 'menus/' in request.path %} class="active" {% endif %}>
                <a href="{% url 'customadmin:menus-list' %}">
                    <i class="fa fa-bars fa-fw fa-2x"></i>
                    <span class="nav-label">Menus</span>
                </a>
            </li>
            {% endif %}

            {% comment %}
            {% if perms.customadmin.add_trusted_accessories or perms.customadmin.view_trusted_accessories or perms.customadmin.change_trusted_accessories or perms.customadmin.delete_trusted_accessories or request.user.is_superuser %} #}
            <li {% if 'trusted-accessories/' in request.path %} class="active" {% endif %}>
                <a href="{% url 'customadmin:trustedaccessories-list' %}">
                    <i class="fa fa-ad fa-fw fa-2x"></i>
                    <span class="nav-label">Trusted</span>
                </a>
            </li>
            {% endif %}
            {% endcomment %}

            {% if perms.customadmin.add_comments or perms.customadmin.view_comments or perms.customadmin.change_comments or perms.customadmin.delete_comments or request.user.is_superuser %}
            <li {% if 'comments/' in request.path %} class="active" {% endif %}>
                <a href="{% url 'customadmin:comments-list' %}">
                    <i class="fa fa-comment fa-fw fa-2x"></i>
                    <span class="nav-label">Comments</span>
                </a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>