{% load static %}
{% load admin_extras %}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

            <li class="nav-header">
                
                    {% comment %} <img class="nav-image" src="{% static 'customadmin/img/logo.svg' %}" width="100%" /> {% endcomment %}
                {% comment %} </a> {% endcomment %}
                <div class="logo-element">
                    UC
                </div>
            </li>
          

<!--            {% if perms.customadmin.add_user or perms.customadmin.view_user or perms.customadmin.change_user or perms.customadmin.delete_user or request.user.is_superuser %}-->
<!--                <li {% if 'users/' in request.path %}class="active" {% endif %}>-->
<!--                    <a href="">-->
<!--                        <i class="fa fa-user fa-fw fa-2x"></i>-->
<!--                        <span class="nav-label">Users</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            {% endif %}-->

            {% if perms.Custom.add_book or perms.Custom.view_book or perms.Custom.change_book or perms.Custom.delete_book or request.user.is_superuser %}
                <li {% if 'book/' in request.path %} class="active" {% endif %}>
                    <a href="{% url 'customadmin:book-list'%}">
                        <i class="fa fa-list-alt fa-fw fa-2x"></i>
                        <span class="nav-label">Book</span>
                    </a>
                </li>
            {% endif %}


            {% if perms.Custom.add_Author or perms.Custom.view_Author or perms.Custom.change_Author or perms.Custom.delete_Author or request.user.is_superuser %}
            <li {% if 'author/' in request.path %} class="active" {% endif %}>
                <a href="{% url 'customadmin:author-list'%}">
                    <i class="fa fa-list-alt fa-fw fa-2x"></i>
                    <span class="nav-label">Author</span>
                </a>
            </li>
        {% endif %}


        {% if perms.Custom.add_transaction or perms.Custom.view_transaction or perms.Custom.change_transaction or perms.Custom.delete_transaction or request.user.is_superuser %}
                <li {% if 'transaction/' in request.path %} class="active" {% endif %}>
                    <a href="{% url 'customadmin:transaction-list'%}">
                        <i class="fa fa-list-alt fa-fw fa-2x"></i>
                        <span class="nav-label">Transactions</span>
                    </a>
                </li>
            {% endif %}




          
          

        </ul>
    </div>
</nav>